h4 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.tech-tag {
    background: white;
    border-radius: 60px;
 
    border-color: gray;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
    color: dimgray;
}