h4 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.tech-tag {
    background: inherit;
    border-radius: 60px;

    border-color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: dimgray;
}