
p, .title {
  font-family: "Raleway";
}

.index-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
} 

.sidebar {
    width: 90%;
}

.post {
    border-radius: 80%;
}

@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}