
p, .title {
    /*   font-family: "Raleway"; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: 0px;
}

.index-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-wrap: wrap;
}

.post {
    border-radius: 80%;
}

@media only screen and (max-width: 850px) {
/*   .sidebar{display: none;} */
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}